@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #192639;
    color: #fcd6b7;
    font-family: 'Vollkorn', serif;
    font-size: 100%;
    max-width: 800px;
    margin: auto;
    padding: 20px 20px 0 20px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.TODO {
    color: #f27874;
}

.PROJ {
    color: #fb884a;
}

.STRT {
    color: #d6ffc1;
}

.WAIT {
    color: #fdf1ab;
}

.HOLD {
    color: #fcca8d;
}

.DONE {
    color: #8cb74f;
}

.KILL {
    color: #bd1613;
}

.___ {
    color: #d6ffc1;
}

._X_ {
    color: #bd1613;
}

a:link {
    color: #FFE1A8;
}

a:visited {
    color: #FFE1A8;
}

a:hover {
    color: #FFE1A8;
}

a:active {
    color: #FFE1A8;
}

.title {
    font-size: 210%;
    color: #e85437;
    text-align: center;
    text-transform: uppercase;
}

h2, h3, h4, h5 {
    color: #ee6269;
}
